.video-info {
    background-color: white;
    border: 2px solid #bcdaf8;
    /* height: 500px; */
    /* width: 100vw; */
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5px;
    line-height: 3.5rem;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.video-title-info {
    margin-left: 15%;
    margin-right: 15%;
    width: 60%;
}

.video-thumbnail {
    margin-top: 10px;
    height: 100px;
}

.video-title {
    color: black;
    font-size: 20px;
    margin-top: 5px;
    line-height: 25px;
}

.video-description {
    width: 90%;
    font-size: 15px;
    color: rgba(63, 63, 63, 0.267);
    align-items: flex-end;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    line-height: 25px;
}

.video-img {
    width: 3%;
    height: 3%;
    align-items: center;
}